* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --primary-color-900: #111827;
  --primary-color-700: #6c757d;
  --primary-color-400: #d9d9d9;
  --primary-color-100: #f4f8f5;
  --transition: all 0.3s ease-in-out;

  font-family: "Questrial", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--tertiary-color);
  color: var(--primary-color-900);
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dd {
  border: 1px solid black;
}

.card {
  background-color: white;
  border: 1px solid var(--primary-color-400);
  transition: var(--transition);
}

.card.has-hover:hover {
  border-color: var(--primary-color-700);
}

.text-gray {
  color: var(--primary-color-700);
}

.text-lg {
  font-size: 1.2em;
}

.cta-btn {
  background-color: #ffffff;
  border: 2px solid var(--primary-color-900);
  border-radius: 30px;
  box-shadow: var(--primary-color-700) 4px 4px 0 0;
  color: var(--primary-color-900);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0.6em 1em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: var(--transition);
}

.cta-btn:hover {
  box-shadow: var(--primary-color-700) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.cta-btn:active {
  transform: translate(4px, 4px);
}

.btn-link {
  text-decoration: none;
  color: var(--primary-color-900);
  transition: var(--transition);
}

.btn-link:hover {
  opacity: 0.6;
  text-decoration: underline;
  transition: var(--transition);
}

.unbounded-400 {
  font-family: "Unbounded";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial";
  font-weight: 400;
  font-style: normal;
}

.unbounded {
  font-family: "Unbounded";
}
